<h1>Simple User's Data Table</h1>
<table border="2">
  <thead>
    <td> <b>Name</b></td>
    <td><b>Gender</b></td>
    <td> <b>Email</b></td>
    <td><b>Age</b></td>
    <td><b>Nationality</b></td>

  </thead>
  <tbody>
    <tr *ngFor="let item of sampleTableData; index as id"
      [class.selectedRow]="this.clickedRowData.includes(id) ? true : false" (click)="changeTableRowColor(id)">
      <td>{{ item.name }}</td>
      <td>{{ item.gender }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.age }}</td>
      <td>{{ item.nationality }}</td>
    </tr>
  </tbody>
  </table>