   
tbody tr{
    text-align: center;
}
tbody tr th{
    text-align: left;
}

.table-hover tbody tr:hover :is(th, td) {
    background: 
    // #98d81848
    #21252930; 
    //#ffeb3b
}

.frame {
    cursor: pointer;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    /* width: 40px; */
    // height: 25%;
}

.rowNames , table tr th {
    cursor: pointer;
}

.selected {
    background-color: yellowgreen !important;
}

